button{
    width: 50%; 
    margin: 0 auto; 
    font-size: 20px; 
    padding: 10px 30px;
    border-radius: 10px;
    background: #023047; 
    color: white; 
    border: none;  
    cursor: pointer; 
}

button:hover{
    opacity: 0.8; 
}