.form{
    padding: 20px; 
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    display: flex; 
    flex-direction: column;
    width: 30%; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-tag{
    margin: 10px; 
    display: flex; 
    flex-direction: column;
}

.dropdown{
    padding: 5px; 
    border-radius: 5px; 
    margin-left: 10px; 
}

.error{
    margin-top: 7px; 
    color: red; 
    font-size: 13px; 
}

.success-msg{
    text-align: center;
    color: green; 

}

@media all and (max-width: 760px){
    .form{
        width: 90%;  
    }
}