.input{
    margin-left: 10px; 
}

input[type="text"], input[type="email"], input[type="password"]{
    padding: 10px; 
    font-size: 15px; 
    border: 1px solid grey;
    border-radius: 5px;
}

input[type="radio"]{
    margin-bottom: 10px;
    margin-right: 10px;  
}

input[type="radio"]:first-child{
    margin-top: 10px; 
}

input[type="checkbox"]{
    margin-left: 0px; 
    margin-right: 10px; 
}

